$def with (data)
$var title : $data['brand'] $data['model']

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 smartphones">
    <h3>$data['brand'] - $data['model']</h3>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item-gallery">
        <ul class="bxslider">
            $for img in data['images']:
              <li><img src="$img" class="img-responsive" /></li>
        </ul>

        <div id="thumbs">
            $for i, img in enumerate(data['images']):
              <a data-slide-index="$i" href=""><img src="$img" class="img-responsive"/></a>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 item-specs">
        <table style="width:100%">
            <tr>
              <th>Dimensions</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>$data['dimensions']</td>
            </tr>
            <tr>
              <th>Weight</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>$data['weight']</td>
            </tr>
            <tr>
              <th>Display</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>$data['display']</td>
            </tr>
            <tr>
              <th>Chipset</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>$data['chipset']</td>
            </tr>
            <tr>
              <th>Camera</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>$data['camera']</td>
            </tr>
            <tr>
              <th>Battery</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>$data['battery']</td>
            </tr>
            <tr>
              <th>Colors</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>$data['colors']</td>
            </tr>
        </table>
    </div>
</div>