body{
	background-color: #EEEEEE;
	font-family: "opensans", sans-serif;
	color: #777;
}
h1, h2, h3, h4 { 
	color: #EF9700;
	margin: 15px 0;
}
h1:hover, h2:hover, h3:hover, h4:hover {color: #f45529}
a:hover {text-decoration: none;}
.nopad {padding: 0 !important}

.row-navbar {
	background-image: url(../img/bg.jpg);
	background-repeat: repeat-x;
	height: 41px;
	margin-bottom: 40px;
}

.logo:hover {text-decoration: none;}
.logo h3 {
	margin: 0;
	line-height: 41px;
	color: #fafafa;
}
.logo h3:hover {
	color: #F6AB29;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}
.logo span{color: #F6AB29;}

.menu-container {
	padding: 0 !important;
	margin: 0 !important;
}

.menu {
	padding:0;
	float:right;
	display: inline;
}
.menu li {
	float: left;
	list-style: none;
}

.menu a.active {
	color: #F6AB29;
	background-color: rgba(84,84,84, 0.5);
}

.menu a {
    font-size:15px;
    padding:0 10px;
    color:#AAA;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 41px;
    height: 41px;
}
.menu a:hover {
	color: #F6AB29;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
	background-color: rgba(84,84,84, 0.5);
}

.btn-collapse {
	padding: 0;
	background-image: url(../img/collapse.png);
	height: 24px;
	width: 24px;
	border: none;
	border-radius: 0;
}

.lastfour {
	background-color: #f5f5f5;
	margin-bottom: 40px;
	border-radius: 2px;
	padding: 0;
	border: 3px solid #f5f5f5;
}
.lastfour > div {padding: 3px;}
.lastfour a {position: relative;display: block;}
.lastfour .phonetitle {
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	color: #fff;
	padding: 5px 10px;
}

.maincontent {background-color: #fff;border-radius: 2px;min-height: 550px;}
.maincontent h4{
	border-bottom: 2px solid #EF9700;
	margin-bottom: 10px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.news {
	border-bottom: 1px dashed #ccc;
	padding: 10px 0;
}
.news img{
	padding-right: 10px;
	float: left;
	height: 85px;
}
.news img:hover{
	-ilter: brightness(1.2);
    -webkit-filter:brightness(1.2);
    -moz-filter:brightness(1.2);
    -o-filter:brightness(1.2);
    -ms-filter: brightness(1.2);
}
.news h5 {color: #4B3C23;margin: 2px 0;}
.news h5:hover {color: #f45529}
.news p {font-size: 13px;min-height: 55px;}

.review {
	border-bottom: 1px dashed #ccc;
	padding: 10px 0;
}
.review a{
	position: relative;
	display: block;
}
.reviewtitle{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	color: #fff;
	padding: 5px 10px;
}
.review img:hover{
	-ilter: brightness(1.2);
    -webkit-filter:brightness(1.2);
    -moz-filter:brightness(1.2);
    -o-filter:brightness(1.2);
    -ms-filter: brightness(1.2);
}
.review h5 {color: #4B3C23;margin: 2px 0;}
.review h5:hover {color: #f45529}
.review p {font-size: 13px;}

.section {padding: 15px;}

.sidebar {
	background-color: #F7F7F7;
	padding: 15px;
	border-radius: 2px;
}
.sidebar h4 {
	margin: 20px 0 10px 0;
	text-transform: uppercase;
}

.brands {
	padding: 0;
	margin: 0;
}
.brands li {
	list-style: none;
	padding: 2px 0;
}
.brands a { color: #666;font-size: 15px;}
.brands a:hover {color: #000}

.row-footer {
	background-color: #F6AB29;
	border-top: 1px solid #ff9d00;
	margin-top: 40px;
	padding: 10px;
}
.row-footer h5{ color: #f2f2f2; }

.search {
	border: none;
	background-color: #ef9700;
	color: #fff;
	height: 32px;
	width: 100%;
	outline: none;
	border-radius: 2px;
	padding: 10px 30px 10px 10px;
	background-image: url(../img/icon-search.png);
	background-position: right 5px center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.search:focus {background-color: #F6AB29}
.search::-webkit-input-placeholder { color: #fff;}
.search:-moz-placeholder { color: #fff;}
.search::-moz-placeholder { color: #fff;}
.search:-ms-input-placeholder { color: #fff; }

.smartphones {background-color: #fff;border-radius: 2px;padding: 0 15px 15px}
.smartphones h3{
	border-bottom: 2px solid #EF9700;
	margin-bottom: 15px;
	padding: 5px 0;
}
.phonelist {padding: 0;}
.phonelist h4{
	background-color: #EF9700;
	color: #fff;
	padding: 8px;
}
.phonelist table {width: 100%;text-align: center;}
.phonelist table th{
	width: 20%;
	border: 2px solid #ffe8c1;
	text-align: center;
	color: #EF9700;
}
.phonelist table td{
	padding: 2px;
	border: 2px solid #ffe8c1;
}
.phonelist .model{
	padding-top: 20px;
	color: #666;
}
.phonelist img {
	height: 80px;
	margin: 0 auto;
	padding: 5px;
	float: left;
}

.item-gallery {
	padding: 15px;
	background-color: #F7F7F7;
	border-radius: 6px;
}
.item-specs {
	padding: 0 30px;
}
.item-specs table tr{
	vertical-align: top;
}
.item-specs table th{
	width: 25%;
	color: #d18102;
}
.item-specs table td{
	padding: 0 0 10px 0;
}

.bxslider {opacity: 0}
#thumbs {margin-top: 15px;}
#thumbs a {
	float: left;
	display: block;
	width: 29%;
	margin:0 2%;
	padding: 10px;
	border: 1px solid #EF9700
}
#thumbs img {	height: 55px;}

.review-menu {
	padding: 0;
	margin: 0;
}
.review-menu li {
	list-style: none;
	padding: 10px 0;
}
.review-menu .index {color: #EF9700;}
.review-menu a {
	color: #777;
	font-size: 17px;
}

@media (max-width: 767px) {
    .logo h3 {text-align: center;}
    .menu {float:none;}
    .menu li {width: 100%;text-align: center;}
    .row-footer h5 {font-size: 12px;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.logo h3 {text-align: center;}
	.menu {float:none;}
	.menu a {padding: 0 5px;font-size: 14px;}
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

@font-face {
	font-family: "opensans";
	src: url("../fonts/opensans.ttf");
}

@font-face {
	font-family: "opensans";
	font-weight: bold;
	src: url("../fonts/opensansbold.ttf");
}