$def with (data, images)
$var title : $data['brand'] $data['model']

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 smartphones">
    <h3>$data['brand'] - $data['model']</h3>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item-gallery">
        <ul class="bxslider">
            $for img in images:
              <li><img src="$img['image']" class="img-responsive" /></li>
        </ul>

        <div id="thumbs">
            $for i, img in enumerate(images):
              <a data-slide-index="$i" href=""><img src="$img['image']" class="img-responsive"/></a>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 item-specs">
        <table style="width:100%">
            <tr>
              <th>Released</th>
              <td>&nbsp;:&nbsp;</td>
              <td>$data['released']</td>
            </tr>
            <tr>
              <th>Dimensions</th>
              <td>&nbsp;:&nbsp;</td>
              <td>$data['dimensions']</td>
            </tr>
            <tr>
              <th>Weight</th>
              <td>&nbsp;:&nbsp;</td>
              <td>$data['weight'] g</td>
            </tr>
            <tr>
              <th>Display</th>
              <td>&nbsp;:&nbsp;</td>
              <td>$data['type'], $data['size'], $data['protection']</td>
            </tr>
            <tr>
              <th>Features</th>
              <td>&nbsp;:&nbsp;</td>
              <td>$data['os'], $data['chipset'], $data['cpu'], $data['gpu'], $data['sensors']</td>
            </tr>
            <tr>
              <th>Camera</th>
              <td>&nbsp;:&nbsp;</td>
              <td>$data['primary'], $data['secondary'], $data['video']</td>
            </tr>
            <tr>
              <th>Battery</th>
              <td>&nbsp;:&nbsp;</td>
              <td>$data['battery'] mAh</td>
            </tr>
            <tr>
              <th>Colors</th>
              <td>&nbsp;:&nbsp;</td>
              <td>$data['colors']</td>
            </tr>
        </table>
    </div>
</div>
