$def with (data)
$var title : $data['brand'] $data['model']

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 smartphones">
    <h3>$data['brand'] - $data['model']</h3>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item-gallery">
        <ul class="bxslider">
            $for img in data['images']:
              <li><img src="$img" class="img-responsive" /></li>
        </ul>

        <div id="thumbs">
            $for i, img in enumerate(data['images']):
              <a data-slide-index="$i" href=""><img src="$img" class="img-responsive"/></a>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 item-specs">
        <table style="width:100%">
            <tr>
              <th>Dimensions</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>138.1 x 67 x 6.9 mm</td>
            </tr>
            <tr>
              <th>Weight</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>Weight  129 g (4.55 oz)</td>
            </tr>
            <tr>
              <th>Colors</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>Space Gray, Silver, Gold</td>
            </tr>
            <tr>
              <th>Released Date</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>September 2014</td>
            </tr>
            <tr>
              <th>Display</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>LED-backlit IPS LCD, capacitive touchscreen, 16M colors,750 x 1334 pixels, 4.7 inches</td>
            </tr>
            <tr>
              <th>CPU</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>Apple A8 Dual-core 1.4 GHz Cyclone (ARM v8-based)</td>
            </tr>
            <tr>
              <th>GPU</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>PowerVR GX6450 (quad-core graphics)</td>
            </tr>
            <tr>
              <th>Camera</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>8 MP, 3264 x 2448 pixels, phase detection autofocus, dual-LED flash, 1/3'' sensor size, 1.5µm pixel size, geo-tagging, simultaneous HD video and image recording, touch focus, face/smile detection, HDR (photo/panorama), 1080p@60fps video record, 1.2 MP secondary camera</td>
            </tr>
            <tr>
              <th>Memory</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>6/64/128 GB, 1 GB RAM</td>
            </tr>
            <tr>
              <th>Battery</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>1850 Mah</td>
            </tr>
            <tr>
              <th>Sensors</th>
              <td>&nbsp;:&nbsp;</td> 
              <td>Fingerprint, Accelerometer, gyro, proximity, compass, barometer</td>
            </tr>
        </table>
    </div>
</div>